@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.hero-pattern {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cpath d='M15 15h50v50H15z' fill='%23000' fill-opacity='0.05'/%3E%3C/svg%3E");
  background-repeat: repeat;
}

.swiper-button-next,
.swiper-button-prev {
  color: theme("colors.blue.800") !important;
}

.swiper-pagination-bullet-active {
  background-color: theme("colors.blue.800") !important;
}

/* Dark mode styles */
.dark .swiper-button-next,
.dark .swiper-button-prev {
  color: theme("colors.blue.100") !important;
}

.dark .swiper-pagination-bullet-active {
  background-color: theme("colors.blue.100") !important;
}